<div style="font-size:32px"> 
  Task name: <%= @task.name %> 
</div>
<div>
  Task description: <%= @task.description %>
</div>
<div>
  Task priority: <%= @task.priority %>
</div>
<%= link_to "Edit Task", edit_task_path(@task) %>
<%= button_to "Delete Task", task_path(@task), method: :delete %>