<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="application.scss">
    <title>TodoForAlex</title> 
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <nav class="navbar">
    <% if current_user %>
      <ul class="menu-main">
        <li> <%= link_to "Home", root_path %> </li>
        <li> <%= link_to "New Task", new_task_path %> </li>
        <li> <%= link_to "My Task", tasks_path %> </li>
        <li class="button"> <%= button_to "Sign Out", destroy_user_session_path, method: :delete %> </li>
      <% else %>
        <li> <%= link_to "Sign Up", new_user_registration_path %> </li>
        <li> <%= link_to "Sign In", new_user_session_path %> </li>
      </ul>
    <% end %>
    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>
  </nav>


    
    <%= yield %>
  </body>
</html>
